app/build
build
.gradle
.idea
.gitignore

#*.iml
#local.properties
#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
#/captures

# Commit
# git rm -rf --cached .
# git add .
app/release/
